body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

div.highlight pre {
  font-family: 'Source Code Pro', Consolas, 'Courier New', monospace;
}

a.headerlink {
  padding: 10px;
}
