<!doctype HTML>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Learn HTML and CSS with OpenTechSchool</title>
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.CSS">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.CSS">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//HTML5shiv.googlecode.com/svn/trunk/HTML5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
      <h1>{{ page.title }}</h1>
        <p></p>
      </header>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
  {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</HTML>
